.pricelist {
  margin-top: 10%;
  text-align: center;
}
.pricelist a {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 999px;
  background-color: #27c9ba;
  color: white;
  border: none;
  margin-top: 10px;
  text-decoration: none;
}
.pricelist a:hover {
  cursor: pointer;
  background-color: #3da195;
}

.pricelist_title {
  font-size: 3.8rem;
}

.pricelist_desciption {
  font-size: 2.4rem;
}

.price_table_list {
  margin-top: 20px;
  padding-bottom: 20px;
}

.price_table_wrap {
  box-shadow: 0 1px 1px #ccc;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s, opacity 0.3s;
}
.price_table_wrap:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s, opacity 0.3s;
  transform: translateY(-6px);
}

.table_head {
  margin-top: 60px;
  background-color: #03b7a6;
  padding-top: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
}
.table_head img {
  width: 23%;
}
.table_head h5 {
  font-size: 35px;
}
.table_head .btn_wrap {
  display: flex;
  justify-content: center;
  padding: 0 10% 3% 10%;
}
.table_head .btn_wrap button {
  padding: 14px 0;
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.table_head .btn_wrap button + button {
  margin-left: 2%;
}
.table_head .btn_wrap button.active {
  background-color: #81dbd2;
  color: var(--text);
}
.table_head .price {
  background-color: #38ad9d;
}
.table_head .price p:first-child {
  font-size: 3rem;
  -webkit-text-decoration: line-through 0.5px;
          text-decoration: line-through 0.5px;
}
.table_head .price p:last-child {
  font-size: 4.5rem;
  font-weight: 600;
}

.table_content {
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.table_content p {
  font-weight: bold;
  padding: 5px 0;
}
.table_content span {
  padding: 5px 0;
  display: block;
}

.price_table:nth-child(2) .table_head {
  background-color: #4d69fd;
}
.price_table:nth-child(2) .price {
  background-color: #295cff;
}
.price_table:nth-child(2) .btn_wrap button.active {
  background-color: #a3b4ff;
}

@-webkit-keyframes starVibrate {
  0% {
    transform: translateX(-50%) scale(0.8, 0.8);
  }
  20% {
    transform: translateX(-50%) scale(1, 1) rotate(-3deg);
  }
  30% {
    transform: translateX(-50%) scale(1, 1) rotate(3deg);
  }
  40% {
    transform: translateX(-50%) scale(1, 1) rotate(-3deg);
  }
  50% {
    transform: translateX(-50%) scale(1, 1) rotate(3deg);
  }
  60% {
    transform: translateX(-50%) scale(1, 1) rotate(-3deg);
  }
  70% {
    transform: translateX(-50%) scale(1, 1) rotate(3deg);
  }
  80% {
    transform: translateX(-50%) scale(1, 1) rotate(-5deg);
  }
  100% {
    transform: translateX(-50%) scale(0.8, 0.8);
  }
}

@keyframes starVibrate {
  0% {
    transform: translateX(-50%) scale(0.8, 0.8);
  }
  20% {
    transform: translateX(-50%) scale(1, 1) rotate(-3deg);
  }
  30% {
    transform: translateX(-50%) scale(1, 1) rotate(3deg);
  }
  40% {
    transform: translateX(-50%) scale(1, 1) rotate(-3deg);
  }
  50% {
    transform: translateX(-50%) scale(1, 1) rotate(3deg);
  }
  60% {
    transform: translateX(-50%) scale(1, 1) rotate(-3deg);
  }
  70% {
    transform: translateX(-50%) scale(1, 1) rotate(3deg);
  }
  80% {
    transform: translateX(-50%) scale(1, 1) rotate(-5deg);
  }
  100% {
    transform: translateX(-50%) scale(0.8, 0.8);
  }
}
.price_table:nth-child(3) {
  margin-top: -40px;
}
.price_table:nth-child(3) .table_head {
  padding-top: 70px;
  background-color: #9358ed;
  position: relative;
}
.price_table:nth-child(3) .table_head::before {
  content: "";
  top: -11%;
  left: 50%;
  width: 90px;
  height: 90px;
  position: absolute;
  transform: translateX(-50%);
  background-image: url(../../images/pricelist_img/star.png);
  background-repeat: no-repeat;
  background-size: 90px;
  -webkit-animation: starVibrate 1s infinite;
          animation: starVibrate 1s infinite;
}
.price_table:nth-child(3) .price {
  background-color: #7021ec;
}
.price_table:nth-child(3) .btn_wrap button.active {
  background-color: #c9adf7;
}

.service_pack {
  color: #f1f1f1;
  background-image: url(../../images/pricelist_img/hinh.png);
  height: 380px;
  position: relative;
}

.service_pack_wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.service_pack_wrap h2 {
  font-size: 3.5rem;
}
.service_pack_wrap p {
  font-size: 2.5rem;
}
.service_pack_wrap a {
  font-size: 2rem;
}

.addon {
  margin-top: 30px;
}
.addon .title {
  margin-bottom: 15px;
  font-size: 3.5rem;
  font-weight: 400;
}

.addon_table {
  width: 100%;
  margin: 0;
  color: #333;
  margin-bottom: 30px;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-spacing: 0;
}
.addon_table th {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 8px;
  color: black;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.addon_table thead th {
  background-color: #27c9ba;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.addon_table td {
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 8px;
  font-size: 1.4rem;
}
.addon_table td:hover {
  color: #27c9ba;
  cursor: pointer;
}
.addon_table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.addon {
  padding-bottom: 35px;
}

.price_question {
  text-align: left;
}

.price_question_wrap {
  display: flex;
}

.price_question_list {
  list-style: none;
  width: 50%;
}
.price_question_list div {
  position: relative;
}
.price_question_list div i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 20px;
  transition: all 0.2s;
}
.price_question_list .question {
  font-size: 1.9rem;
  display: block;
  width: 95%;
}
.price_question_list .answer {
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}
.price_question_list .answer span {
  font-weight: 600;
  font-size: 1.6rem;
  font-style: italic;
}

.price_question_item {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.price_question_item.active .question {
  font-weight: 600;
}
.price_question_item.active .price_show_asw {
  transform: rotate(-180deg);
}

.price_question_list + .price_question_list {
  margin-left: 20px;
}

@media screen and (max-width: 992px) {
  .price_question_list div i {
    top: 0;
    right: -5%;
    padding: 5px 10px;
    font-size: 20px;
    transition: all 0.2s;
  }
}
@media screen and (max-width: 768px) {
  .price_question_wrap {
    display: block;
  }
  .price_question_list {
    width: 100%;
  }
  .price_question_list .question {
    font-size: 1.9rem;
    display: block;
    width: 95%;
  }
  .price_question_list + .price_question_list {
    margin-left: 0;
  }
}/*# sourceMappingURL=pricelist.css.map */